<div tpl-if="$order_lines">
    <ul tpl-foreach="$order_lines as $item">
        <li>
            Product: {{$item->productName}}
        </li>
        <li>
            Price: {{$item->price}}
        </li>
        <li>
            <span tpl-if="$item->inStock">
                In stock
            </span>
            <span tpl-if="!$item->inStock">
                Not in stock
            </span>
        </li>
    </ul>
</div>
<span tpl-if="!$order_lines">
    No items
</span>