<p>List asjadest</p>
<p tpl-if="$order_lines">
    <span tpl-foreach="$order_lines as $item">
        <span tpl-if="!$first">, </span>
        {{$item->productName}}
    </span>
</p>
<p tpl-if="!$order_lines">
    No items
</p>