<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>

    <div tpl-include="{{$product_list_template}}"></div>
    <div tpl-include="{{$product_list_template2}}"></div>

    <p>&copy; 2010-{{ $current_year}}</p>
</body>
</html>
